<div class="container-fluid">

  <div class="row text-centered">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="realizarCalculo(1)">Sumar</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="realizarCalculo(2)">Restar</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary"(click)="realizarCalculo(3)">Multiplicar</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary"(click)="realizarCalculo(4)">Dividir</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary"(click)="realizarCalculo(5)">Potenciar</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">Limpiar</button>
    </div>
  </div>
</div>
