<div class ="container-fluid">
<div class="col-1"></div>
  <div class="col">
    <div class="row mt-3 text-centered">
      <h3>Calculadora</h3>
      <div class="mb-3 col">
        <label for="Numero1" class="form-label">Numero 1</label>
        <input type="text" class="form-control" [value]="numero1" id="Numero1">

      </div>
      <div class="mb-3 col">
        <label for="Numero2" class="form-label">Numero 2</label>
        <input type="text" class="form-control" [value]="numero2" id="Numero2">
      </div>
    </div>
    <app-calculador [num1]="numero1"
    [num2]="numero2"
    (onCalcularClick)="actualizarResultado($event)"
    ></app-calculador>

    <div class="row mt-3 text-centered">
      <h3>Resultado</h3>
      <div class="mb-3 col">
        <label for="exampleInputEmail1" class="form-label">Numero 1</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  [value]="resultado">

      </div>
    </div>

  </div>
  <div class="col-1"></div>




</div>
